.container {
    padding: 30px;
}

h2 {
    color: #ff4d88;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
}

th {
    background: #ff4d88;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.delete-btn {
    background: red;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
}

.view-btn {
    background: #4da6ff;   /* blue */
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 5px;
}

.view-btn:hover {
    background: #0073e6;
}