{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/scheme_form.css') }}">

<div class="form-container">

    <a href="{{ url_for('manage_schemes') }}">⬅ Back</a>

    <h2>✏️ Edit Scheme</h2>

    <form method="POST">
        <input type="text" name="scheme_name" value="{{ scheme.scheme_name }}" required>
        <textarea name="description" required>{{ scheme.description }}</textarea>
        <button type="submit">Update Scheme</button>
    </form>

</div>

{% endblock %}